body {
    margin: 0px auto;
    max-width: 900px;
    min-width: 220px;
    /*height: 1024px;*/
    justify-content: center;
}

.navbar {
    margin: 0 100 0 100;
    /*height: 60px;*/
}

h1 {
    margin: auto;
}

header {
    background-image: url("../imgs/floriane.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
    height: 220px;
}

main {
    margin-top: 0%;
}

.mistrabajos {
    background-color: darkgray;
    /*height: 404px;*/
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
}

.card-text {
    font-size: 15px;
}

.card-img-top {
    width: 219px;
    height: 170px;
}